* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}


.pepito {
  color: orange;
}
p {
  color: green !important;
}

#pepito {
  color: blueviolet;
  text-align: center;
}

.correcto {
  color: aqua;
  text-align: center;
}
.negrita {
  font-weight: 600;
}
.center {
  text-align: center;
  color: red;
}

.p-green{
    font-weight: 900;
    font-size: 25px;
}

div {
    width: 100px;
    height: 100px;
    background: red;
    font-size:15px;
    transition: width 2s, height 4s, font-size 2s;
  }
  
  div:hover {
    width: 300px;
    height: 300px;
    font-size:30px;
  }

  p{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
  }